<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
            http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   <display-name>Restful Web Application</display-name>
   <context-param>
      <param-name>contextClass</param-name>
      <param-value>
         org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
   </context-param>
 <!--   <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
         springconfig.RestApiContextConfiguration
      </param-value>
   </context-param> -->
   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
   <listener>
      <listener-class>
         contextinit.Log4jInitializationListener
      </listener-class>
   </listener>
  <servlet>
  	<servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>
               org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
  </servlet>
 
  <servlet-mapping>
 	<servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
 
    <servlet>
    <servlet-name>oauth2Callback</servlet-name>
    <servlet-class>com.poc.bigquery.OAuth2Callback</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>oauth2Callback</servlet-name>
    <url-pattern>/oauth2callback/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>taskServlet</servlet-name>
    <servlet-class>com.poc.bigquery.TaskServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>taskServlet</servlet-name>
    <url-pattern>/task</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>dataServlet</servlet-name>
    <servlet-class>com.poc.bigquery.DataServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>dataServlet</servlet-name>
    <url-pattern>/data</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>mainServlet</servlet-name>
    <servlet-class>com.poc.bigquery.MainServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>mainServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  

</web-app>
